/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
figwheel_server.log
node_modules/
resources/
.idea
expound.iml
.nightlight.edn
repl-deps
test-deps
.cpcache