{:paths ["src"]
 :aliases {;; clj -Atest
           :test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}
                               org.clojure/test.check {:mvn/version "0.10.0-alpha3"}
                               org.clojure/clojurescript {:mvn/version "1.10.439"}
                               com.gfredericks/test.chuck {:mvn/version "0.2.8"}
                               orchestra {:mvn/version "2018.08.19-1"}
                               org.clojure/core.specs.alpha {:mvn/version "0.1.24"}
                               ring/ring-core {:mvn/version "1.6.3"} ; required to make ring-spec work, may cause issues with figwheel?
                               ring/ring-spec {:mvn/version "0.0.4"} ; to test specs
                               org.onyxplatform/onyx-spec {:mvn/version "0.12.7.0"} ; to test specs
                               metosin/spec-tools {:mvn/version "0.8.2"}
                               com.bhauman/spell-spec {:mvn/version "0.1.1"}}
                  ;; Taken from https://github.com/boot-clj/boot/wiki/Improving-startup-time
                  :jvm-opts ["-client " "-XX:+TieredCompilation" "-XX:TieredStopAtLevel=1" "-Xmx2g" "-XX:+UseConcMarkSweepGC" "-XX:+CMSClassUnloadingEnabled" "-Xverify:none"]
                  :main-opts ["-m" "cognitect.test-runner"]}
           ;; clj -A:lint:lint/fix
           :lint {:extra-deps {com.jameslaverack/cljfmt-runner
                               {:git/url "https://github.com/JamesLaverack/cljfmt-runner"
                                :sha "97960e9a6464935534b5a6bab529e063d0027128"}}
                  :main-opts ["-m" "cljfmt-runner.check"]}
           :lint/fix {:main-opts ["-m" "cljfmt-runner.fix"]}

           :carve {:extra-deps {borkdude/carve {:git/url "https://github.com/borkdude/carve"
                                     :sha "4b5010a09e030dbd998faff718d12400748ab3b9"}}
                   :main-opts ["-m" "carve.main"]}

           ;; clojure -A:test:figwheel-repl
           ;; open http://localhost:9500/figwheel-extra-main/auto-testing
           :figwheel-repl {:extra-paths ["resources" "target"]
                           :extra-deps {com.bhauman/figwheel-main {:mvn/version "0.1.9"}
                                        com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                                        ;;;;;;;;;;; test deps ;;;;;;;;;;;;;;
                                        ;; not necessary for tests, but just for legacy karma set up
                                        ;; until I remove it
                                        karma-reporter {:mvn/version "3.1.0"}}
                           :main-opts ["-m" "figwheel.main"
                                       "-b" "dev"
                                       "-r"]}}}
