{:paths ["src"]
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "78d380d00e7a27f7b835bb90af37e73b20c49bcc"}
                               org.clojure/test.check {:mvn/version "0.10.0-alpha3"}
                               com.gfredericks/test.chuck {:mvn/version "0.2.8"}
                               orchestra {:mvn/version "2017.11.12-1"}
                               org.clojure/core.specs.alpha {:mvn/version "0.1.24"}
                               com.stuartsierra/dependency {:mvn/version "0.2.0"}
                               ring/ring-core {:mvn/version "1.6.3"} ; required to make ring-spec work, may cause issues with figwheel?
                               ring/ring-spec {:mvn/version "0.0.4"} ; to test specs
                               org.onyxplatform/onyx-spec {:mvn/version "0.12.7.0"} ; to test specs
                               vvvvalvalval/scope-capture {:mvn/version "0.1.4"}
                               metosin/spec-tools {:mvn/version "0.6.1"}
                               com.bhauman/spell-spec {:mvn/version "0.1.1"}}
                  :main-opts ["-m" "cognitect.test-runner"]}}
}
