{:cljdoc.doc/tree [["Readme" {:file "README.md"}]
                   ["Changelog" {:file "CHANGELOG.md"}]
                   ["Compatibility " {:file "doc/compatibility.md"}]
                   ["Prior Art" {:file "doc/prior_art.md"}]
                   ["FAQ" {:file "doc/faq.md"}]]}
